/*

	Glitchy Text from https://css-tricks.com/glitch-effect-text-images-svg/

  (TEXT) PARAMS
  =================
  1. Namespace
  2. Intensity
  3. Text color
  4. Background color (flat)
  5. Highlight #1 color
  6. Highlight #2 color
  7. Width (px)
  8. Height (px)
*/
.glitch {
  color: #fcee0a;
  position: relative;
}
@keyframes glitch-anim-1 {
  0% {
    clip: rect(44px, 1084px, 78px, 0);
  }
  5.8823529412% {
    clip: rect(109px, 1084px, 107px, 0);
  }
  11.7647058824% {
    clip: rect(54px, 1084px, 105px, 0);
  }
  17.6470588235% {
    clip: rect(108px, 1084px, 74px, 0);
  }
  23.5294117647% {
    clip: rect(56px, 1084px, 46px, 0);
  }
  29.4117647059% {
    clip: rect(32px, 1084px, 85px, 0);
  }
  35.2941176471% {
    clip: rect(96px, 1084px, 103px, 0);
  }
  41.1764705882% {
    clip: rect(94px, 1084px, 20px, 0);
  }
  47.0588235294% {
    clip: rect(6px, 1084px, 37px, 0);
  }
  52.9411764706% {
    clip: rect(27px, 1084px, 86px, 0);
  }
  58.8235294118% {
    clip: rect(76px, 1084px, 86px, 0);
  }
  64.7058823529% {
    clip: rect(18px, 1084px, 78px, 0);
  }
  70.5882352941% {
    clip: rect(4px, 1084px, 99px, 0);
  }
  76.4705882353% {
    clip: rect(75px, 1084px, 84px, 0);
  }
  82.3529411765% {
    clip: rect(45px, 1084px, 49px, 0);
  }
  88.2352941176% {
    clip: rect(84px, 1084px, 73px, 0);
  }
  94.1176470588% {
    clip: rect(48px, 1084px, 108px, 0);
  }
  100% {
    clip: rect(21px, 1084px, 30px, 0);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip: rect(16px, 1084px, 11px, 0);
  }
  5.8823529412% {
    clip: rect(70px, 1084px, 75px, 0);
  }
  11.7647058824% {
    clip: rect(40px, 1084px, 95px, 0);
  }
  17.6470588235% {
    clip: rect(89px, 1084px, 102px, 0);
  }
  23.5294117647% {
    clip: rect(114px, 1084px, 73px, 0);
  }
  29.4117647059% {
    clip: rect(52px, 1084px, 7px, 0);
  }
  35.2941176471% {
    clip: rect(68px, 1084px, 16px, 0);
  }
  41.1764705882% {
    clip: rect(52px, 1084px, 22px, 0);
  }
  47.0588235294% {
    clip: rect(23px, 1084px, 46px, 0);
  }
  52.9411764706% {
    clip: rect(72px, 1084px, 57px, 0);
  }
  58.8235294118% {
    clip: rect(2px, 1084px, 75px, 0);
  }
  64.7058823529% {
    clip: rect(63px, 1084px, 60px, 0);
  }
  70.5882352941% {
    clip: rect(62px, 1084px, 113px, 0);
  }
  76.4705882353% {
    clip: rect(59px, 1084px, 85px, 0);
  }
  82.3529411765% {
    clip: rect(22px, 1084px, 38px, 0);
  }
  88.2352941176% {
    clip: rect(78px, 1084px, 107px, 0);
  }
  94.1176470588% {
    clip: rect(86px, 1084px, 57px, 0);
  }
  100% {
    clip: rect(99px, 1084px, 111px, 0);
  }
}
.glitch:before, .glitch:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  clip: rect(0, 0, 0, 0);
}
.glitch:after {
  left: 2px;
  text-shadow: -1px 0 red;
  animation: glitch-anim-1 2s infinite linear alternate-reverse;
}
.glitch:before {
  left: -2px;
  text-shadow: 2px 0 blue;
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}/*# sourceMappingURL=main.css.map */